@use '../custom' as *;
@use '../components/mixins' as *;


#portfolio {
    @include gradient;

    & .heading h2 {
        color: $white;
    }

    & img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);   
        -webkit-filter: grayscale(100%);

        &:hover {
            filter: none;
            -webkit-filter: none;
        }
    }

}